@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar styles */
@layer base {
    /* Include your custom scrollbar styles here */
    ::-webkit-scrollbar {
      width: 6px;
    }
  
    ::-webkit-scrollbar-track {
      background: transparent;
    }
  
    ::-webkit-scrollbar-thumb {
      background: #997af0;
      border-radius: 6px;
    }
  
    ::-webkit-scrollbar-thumb:hover {
      background: #997af0;
    }
  }